@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 700;
  box-sizing: border-box;
}

h1,
p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.App {
  background-color: rgb(248, 243, 236);
  border-radius: 20px;
}

.btn {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px 50px;
  margin: 5px;
  font-weight: 700;
}

/* ====Navbar === */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.logo {
  font-size: 40px;
  color: rgb(223, 153, 61);
  font-weight: 800;
}

.links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.links a {
  color: #000;
  cursor: pointer;
}

.links a:hover {
  border-bottom: 1px solid #000;
}

/* ====main====  */

.container {
}

/* ====home ==== */
.home h1 {
  .home a {
    color: #fff;
    padding: 8px 40px;
    border-radius: 10px;
    cursor: pointer;
  }

  /* === About ===  */
}
.about-hero-image {
  margin: 0 auto;
  width: 99vw;
  height: auto;
}
.about-page-content {
  padding: 40px;
}
.about-page-content h1 {
  margin-top: 20px;
}

.about-page-cta {
  background-color: rgb(204, 148, 80);
  height: 200px;
  width: 400px;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: #fff;
  padding: 5px 40px;
  border-radius: 5px;
  margin-top: 20px;
}

/* === vans list ===  */

.vans-container {
  margin: 40px;
}
.van-list-container {
  display: flex;
  gap: 40px;
  margin: 20px;
}

.vanElement {
  padding: 10px;
  border-radius: 20px;
}

.vanElement img {
  border-radius: 30px;
}

.vanElement:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* === van details page ===  */

.vanDetains {
  display: flex;
  gap: 40px;
  margin: 30px;
}

/* === host === */

.host-nav a {
  color: #fff;
  background-color: rgb(217, 184, 143);
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.host-nav a .active {
  background-color: rgb(160, 123, 78);
}
/* ===== footer ====  */

footer {
  padding: 25px;
  background-color: #434339;
  color: #fff;
}

.myLink {
  background-color: rgb(178, 139, 88) !important;
}
